<!doctype html>
<html lang="en">




	<head>
		<title>ToBeNamed</title>
		
		<link rel="stylesheet" type = "text/css" href="style/index.css">
	</head>
	
	<body >
	
		<div id='header'>
			
			<div id='titleImage'>
				<img src='images/logo.png'></img>
				
			</div>
			
			<div id='headImage'>
				<p>headImage</p>
				
			</div>
			
			<div id='linksBar'>
			
				
				<div class='link' id='home'>
					<a href="index.html">Home</a>
				</div>
				
				<div class='link' id='article'>
					<a href="articles.html">Articles</a>
				</div>
				
				<div class='link' id='writers'>
					<a href="writers.html">Writers</a>
				</div>
				
				<div class='link' id='login'>
					<a href="login.html">Login</a>
				</div>
				
				
			</div>
			
		</div>
		
		<div id='contentPane'>
		
			<div class='article' id='article0'>
				<div class='articleImg'>
					<img src='images/defaultImage.png'></img>
				</div>
				
				<div class='articleTitle'>
					<h3>How ___ Affects the ___ industry</h3>
				
				</div>
				
				<div class='articleDescript'>
					<p>This is an article description</p>
				
				</div>
			</div>
			
			<div class='article' id='article1'>
				<div class='articleImg'>
					<img src='images/defaultImage.png'></img>
				</div>
				
				<div class='articleTitle'>
					<h3>How ___ Affects the ___ industry</h3>
				
				</div>
				
				<div class='articleDescript'>
					<p>This is an article description</p>
				
				</div>
			</div>
			
			<div class='article' id='article2'>
				<div class='articleImg'>
					<img src='images/defaultImage.png'></img>
				</div>
				
				<div class='articleTitle'>
					<h3>How ___ Affects the ___ industry</h3>
				
				</div>
				
				<div class='articleDescript'>
					<p>This is an article description</p>
				
				</div>
			</div>
			
			<div class='article' id='article3'>
				<div class='articleImg'>
					<img src='images/defaultImage.png'></img>
				</div>
				
				<div class='articleTitle'>
					<h3>How ___ Affects the ___ industry</h3>
				
				</div>
				
				<div class='articleDescript'>
					<p>This is an article description</p>
				
				</div>
			</div>
			
			<div class='article' id='article4'>
				<div class='articleImg'>
					<img src='images/defaultImage.png'></img>
				</div>
				
				<div class='articleTitle'>
					<h3>How ___ Affects the ___ industry</h3>
				
				</div>
				
				<div class='articleDescript'>
					<p>This is an article description</p>
				
				</div>
			</div>
			
			<div class='article' id='article5'>
				<div class='articleImg'>
					<img src='images/defaultImage.png'></img>
				</div>
				
				<div class='articleTitle'>
					<h3>How ___ Affects the ___ industry</h3>
				
				</div>
				
				<div class='articleDescript'>
					<p>This is an article description</p>
				
				</div>
			</div>
			
			
			
			
			
		</div>
		
		
		<script src="scripts/index.js"></script>
		
	</body>
</html>