<!doctype html>
<html lang="en">




	<head>
		<title>ToBeNamed</title>
		
		<link rel="stylesheet" type = "text/css" href="style/index.css">
	</head>
	
	<body >
	
		<div id='header'>
			
			<div id='titleImage'>
				<p>titleImage</p>
				
			</div>
			
			<div id='headImage'>
				<p>headImage</p>
				
			</div>
			
			<div id='linksBar'>
				
				<div class='link'>
					<p>link</p>
				</div>
				
				<div class='link'>
					<p>link</p>
				</div>
				
				<div class='link'>
					<p>link</p>
				</div>
				
				<div class='link'>
					<p>link</p>
				</div>
				
				
			</div>
		
		</div>
		
		<div id='contentPane'>
			
			<p id='article'>doo dee doo </p>
			
			
		</div>
		
		
		<script src="scripts/index.js"></script>
	</body>
</html>