<!DOCTYPE html>
<html lang="en">




	<head>
		<title>Log in</title>
		
		<link rel="stylesheet" type = "text/css" href="style/login.css">
		
		
	</head>
	
	<body >
	
		<div id='header'>
			
			<div id='titleImage'>
				<img src='images/logo.png'></img>
				
			</div>
			
			<div id='headImage'>
				<p>headImage</p>
				
			</div>
			
			<div id='linksBar'>
			
				
				<div class='link' id='home'>
					<p>Home</p>
				</div>
				
				<div class='link' id='article'>
					<p>Articles</p>
				</div>
				
				<div class='link' id='writers'>
					<p>Writers</p>
				</div>
				
				<div class='link' id='login'>
					<p>Log In</p>
				</div>
				
				
			</div>
			
		</div>
		
		<div id='contentPane' >
		
			<form id='loginForm' method='POST' action='/register'>
				
				<p>Email: </p><input type ="text" name="email" id='email' class='loginInput'>
				
				<p>Username: </p><input type ="text" name="username" id='username' class='loginInput'>
				
				<p>Password: </p><input type ="password" name="password" id='password' class='loginInput'>
				
				<p>Confirm Password: </p><input type ="password" name="confirmPass" id='confirmPassword' class='loginInput'>
				<br>
				<br>
				<input type='submit' value='Submit'>
				
				
				
				
			</form>
			
			
			
			
			
		</div>
		
		
		<script src="scripts/login.js"></script>
		
	</body>
</html>