<!doctype html>
<html lang="en">




	<head>
		<title>Log in</title>
		
		<link rel="stylesheet" type = "text/css" href="style/index.css">
	</head>
	
	<body >
	
		<div id='header'>
			
			<div id='titleImage'>
				<img src='images/logo.png'></img>
				
			</div>
			
			<div id='headImage'>
				<p>headImage</p>
				
			</div>
			
			<div id='linksBar'>
			
				
				<div class='link' id='home'>
					<p>Home</p>
				</div>
				
				<div class='link' id='article'>
					<p>Articles</p>
				</div>
				
				<div class='link' id='writers'>
					<p>Writers</p>
				</div>
				
				<div class='link' id='login'>
					<p>Log In</p>
				</div>
				
				
			</div>
			
		</div>
		
		<div id='contentPane'>
		
			
			
			
			
			
			
		</div>
		
		
		<script src="scripts/index.js"></script>
		
	</body>
</html>