<!DOCTYPE html>
<html lang="en">




	<head>
		<title>login</title>
		
		<link rel="stylesheet" type = "text/css" href="style/login.css">
		
		
	</head>
	
	<body >
	
		<div id='header'>
			
			<div id='titleImage'>
				<img src='images/logo.png'></img>
				
			</div>
			
			<div id='headImage'>
				<p>headImage</p>
				
			</div>
			
			<div id='linksBar'>
			
				
				<div class='link' id='home'>
					<a href="index.html">Home</a>
				</div>
				
				<div class='link' id='article'>
					<a href="articles.html">Articles</a>
				</div>
				
				<div class='link' id='writers'>
					<a href="writers.html">Writers</a>
				</div>
				
				<div class='link' id='login'>
					<a href="login.html">Login</a>
				</div>
				
				
			</div>
			
		</div>
		
		<div id='contentPane' >
			<div id='errorForm'>
				<script id="errorsHBS" type="x-handlebars-template">
					
						{{#if errors}}
							{{#each errors}}
								<p class='errorMessage'>
								{{this.msg}}
								
							{{/each}}
						{{/if}}
					
				</script>
			</div>
			
			<form id='loginForm' method='POST' action='/register'>
				
				<p>Email: </p><input type ="text" name="email" id='email' class='loginInput'>
				
				<p>Username: </p><input type ="text" name="username" id='username' class='loginInput'>
				
				<p>Password: </p><input type ="password" name="password" id='password' class='loginInput'>
				
				<p>Confirm Password: </p><input type ="password" name="confirmPass" id='confirmPassword' class='loginInput'>
				<br>
				<br>
				<input type='submit' value='Submit' id='submit'>
				
				
				
				
			</form>
			
			
			
			
			
			
		</div>
		
		
		<script src="scripts/login.js"></script>
		
		
	</body>
</html>