<!doctype html>
<html lang="en">




	<head>
		<title>Writers</title>
		
		<link rel="stylesheet" type = "text/css" href="style/writers.css">
	</head>
	
	<body >
	
		<div id='header'>
			
			<div id='titleImage'>
				<img src='images/logo.png'></img>
				
			</div>
			
			<div id='headImage'>
				<p>headImage</p>
				
			</div>
			
			<div id='linksBar'>
			
				
				<div class='link' id='home'>
					<a href="index.html">Home</a>
				</div>
				
				<div class='link' id='article'>
					<a href="articles.html">Articles</a>
				</div>
				
				<div class='link' id='writers'>
					<a href="writers.html">Writers</a>
				</div>
				
				<div class='link' id='login'>
					<a href="login.html">Login</a>
				</div>
				
				
			</div>
			
		</div>
		
		<div id='contentPane'>
		
			
			
			
			
			
			
		</div>
		
		
		<script src="scripts/writers.js"></script>
		
	</body>
</html>